sudo: false
language: python
matrix:
  include:
  - python: 3.6
    env: TOX_ENV=py36
  - python: 3.7
    env: TOX_ENV=py37
  - python: 3.7
    env: TOX_ENV=black
  - python: 3.7
    env: TOX_ENV=isort
  - python: 3.7
    env: TOX_ENV=pylint
install:
- pip install tox keyring==21.4.0
script:
- tox -e $TOX_ENV
after_success:
- coveralls
before_cache:
- rm -rf $HOME/.cache/pip/log
cache:
  directories:
  - "$HOME/.cache/pip"
deploy:
  skip_existing: true
  provider: pypi
  user: __token__
  password:
    secure: csXQr0aa1w4ZcdyEAuUonhfUZzrRBnjLj7RLARiAsqrQn1Fq5w1IJt0kmM2zRFmU5dyPy/RkfR0i8Ck1pRiWg2y3/NWSIbNg2XVYMRXgyOgSXA1YYq1rv+jD2IS6v+vN/j38qvx8yPMAZxUjkku1SJLlMaih5amJYMnXMMd/rwvc55jiIO4nx/hMernMD0wlQoXcoc+70khVbAUlQas6KVDvxcshC64k6jczh4XIodeRK7uy5FGHOeFBZ3oq+chOY3K4ZcoLO4JvCcZvh2SHGJVAWmt2+twp7qp++adSvwfFrJj0LnjoINBVAqHqGdw554/2Ql2Z4FxMO9M3eN3arQv4qGdaEzlgR5ib6ii+A1gpsUXjMhBJjLpmyG66c4hEGCvOTkDmF5T8l2YP5W5LTJA3QeAVdqsUbu5BHQKPMlHsiIoXS6PIAQzq9yWqftwfSBI0JUuGaQ/9yaB3FhznOJxma6GDU8Mult8dosGkicWbEnBmA6Xb//A/oZGWnBU113eqxMsmPhGjt7PlnP2g2D2QlDh9eVDDRMjBHV7m+b3oa1/l7YuQ2sHyrJMlKu7AfFBHDyInHSPm0br6xzRoYMlTxscpK8StcPNRvsxIC88cSvlJu36H7qoBp0BswcDszgCRI7NmfDdzZSFid6Jlpbes4feoV6GgjrsqA/SuRsg=
